# fly.toml app configuration file generated for chess-social on 2026-01-12T22:33:12Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'chess-social'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
